<div>
    <label for="input">{{label}} <app-required-star [required]="controlRequired"></app-required-star> </label>
    <textarea 
        id="input"
        class="form-control"
        [formControl]="control"
        (focus)="onControlFocus()"
        (blur)="onContolBlur()"
        autocomplete="off"
        [rows]="rows"
        [cols]="cols"
        [maxlength]="maxLength"
    ></textarea>
    <div class="text-danger" *ngIf="shouldShowError">
        <p>{{err}}</p>
    </div>
</div>