<dx-data-grid class="mt-2"
        id = "gridContainer"
        [dataSource]="dataSource"        
        [showBorders]="true"
        [showRowLines]="true"
        [allowColumnResizing]="allowColumnResizing"
        columnResizingMode="nextColumn"
        [columnMinWidth]="columnMinWidth"
        [columnAutoWidth]="columnAutoWidth"
        [columns]="columns"
        [width]="gridWidth"
        keyExpr="id"
        [searchPanel]="searchPanel"
        [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
        [(focusedRowKey)]="focusedRowKey"
        (onRowDblClick)="onRowDblClick()"
        (onSelectionChanged)="onFocusedRowChanged()"
        [style]="style"
    >
        <dxo-selection [mode] = "selectionMode"></dxo-selection>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-pager
            [visible]="showPager"
            displayMode="full"
            [infoText]="infoText"
            [showPageSizeSelector]="false"
            [showInfo]="true"
            [showNavigationButtons]="false"
        >
        </dxo-pager>S
        <dxo-grouping [autoExpandAll]="expandAll"></dxo-grouping>
        <dxo-group-panel [visible]="allowGrouping"></dxo-group-panel>
        <dxo-scrolling
            [useNative]="false"
            [scrollByContent]="true"
            showScrollbar="onHover"
        ></dxo-scrolling>
  </dx-data-grid>