<dx-data-grid class="mt-2"
        [dataSource]="dataSource"        
        [showBorders]="true"
        [showRowLines]="true"
        
        
        [allowColumnResizing]="allowColumnResizing"
        columnResizingMode="nextColumn"
        [columnMinWidth]="columnMinWidth"
        [columnAutoWidth]="columnAutoWidth"
        [columns]="columns"
        [width]="gridWidth"
        keyExpr="id"
        [searchPanel]="searchPanel"
        [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
        [(focusedRowKey)]="focusedRowKey"
        (onRowDblClick)="onRowDblClick()"
        (onSelectionChanged)="onFocusedRowChanged()"
    >
        <dxo-selection [mode] = "selectionMode"></dxo-selection>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-paging [pageSize]="pageSize"></dxo-paging>
        <dxo-grouping [autoExpandAll]="expandAll"></dxo-grouping>
        <dxo-group-panel [visible]="allowGrouping"></dxo-group-panel>
        <dxo-scrolling
            [useNative]="false"
            [scrollByContent]="true"
            [scrollByThumb]="true"
            showScrollbar="onHover"
        ></dxo-scrolling>
  </dx-data-grid>