<form [formGroup]="form">
    <div class="row">
        <div class="col-xl-3 offset-xl-4 col-lg-3 offset-lg-4 col-md-4 offset-4 col-sm-6 offset-3 col-8 offset-2">
            <div class="row">
                <div>
                    <app-forc-text
                        [label]="'Имя либо E-mail'"
                        [control]='form.controls.userNameOrEmail'
                    ></app-forc-text>
                </div>
            </div>
            <div class="row mt-1">
                <div>
                    <app-forc-password
                        [label]="'Пароль'"
                        [control]='form.controls.password'
                    ></app-forc-password>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <button class="btn btn-primary" (click)="checkIn()">Регистрация</button>
                </div>
                <div class="col text-end">
                    <button class="btn btn-success" (click)="login()" [disabled]="loginButtonDisabled">Войти</button>
                </div>
            </div>
        </div>
    </div>
</form>
